.auth-page {
    background-color: #04044b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px;
}

.login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.footer {
    background-color: #04044b;
    color: white;
}
